* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

ul, ul li {
	list-style: none;
}

.container {
  width: 661px;
  min-height: 100vh;
  margin: auto;
  background-color: #C4C4C4;
}

.search-form {
  position: relative;
  width: 500px;
  margin: auto;
  padding-top: 62px;
} 

.search-field {
  width: 100%;
  height: 61px;
  padding-left: 13px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}

.rep {
  background-color: #E3E3E3;
  color: #000000;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}

.rep:hover {
  background-color: #65CDF9;
  cursor: pointer;
}

.rep-info-list {
  margin-top: 45px;
  width: 500px;
}

.rep-info {
  position: relative;
  background-color: #E27BEB;
  padding-top: 8px;
  padding-right: 17px;
  padding-bottom: 8px;
  padding-left: 16px;
  border: 1px solid black;
}

.close-button {
  position: absolute;
  top: 32px;
  right: 34px;
  width: 42px;
  height: 38px;
}

.first-stick {
  width: 50px;
  height: 4px;
  background-color: #FF0000;
  transform: translate(-5px, 17px) rotate(45deg);
}

.second-stick {
  width: 50px;
  height: 4px;
  background-color: #FF0000;
  transform: translate(-5px, 13px) rotate(-45deg);
}

/* .close-button {
  width: 57px;
  height: 4px;
  background-color: #FF0000;
  transform: translate(400px, -44px) rotate(45deg);
} */

.rep-info p {
  color: #000000;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}